@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* 
{
    padding: 0;
    margin: 0;
    font-family:  Roboto,'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-color {color: #F9FAF8}
.secondary-color {color: #E5E7EB;}

a 
{
    text-decoration: none;
}

header
{
    padding: 1.8rem 3rem;
    height: 40vh;
    background-color: #1F2937;
    color: #fff;
}

section 
{
    height: 50vh;
}

footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: #1F2937;
    color: #fff;
    font-weight: lighter;
}

/* Header section */
nav, .hero
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

nav div a, .hero div p 
{
    font-weight: lighter;
}

nav div a
{
    margin-left: 0.8rem;
}

.hero h1 
{
    font-size: 48px;
}

#placeholder 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: grey;
    width: 140vw;
    margin-left: 4rem;
}

.signup-btn 
{
    background-color: #3882F6;
    font-size: 18px;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    color: #fff;
    margin-top: 10px;
}

/* Information Section */
#information
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

#information-heading 
{
    margin-bottom: 2rem;
    font-size: 34px;
}

.cards 
{
    display: flex;
}

.card 
{
    margin: 30px;
    text-align: center;
}

.box 
{
    height: 20vh;
    border: 4px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 10px;
}

/* Quote section */
#quote-section 
{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    color: #1F2937;
}

#quote 
{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

#author 
{
    width: 100%;
    text-align: right;
    font-weight: bold;
    font-size: 24px;
    margin-top: 1rem;
}

/* Call to action section */
#call-section
{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.call-btn
{
    background-color: #3882F6;
    font-size: 18px;
    padding: 8px 24px;
    border: 2px solid #fff;
    border-radius: 8px;
    color: #fff;
    margin-top: 10px;
    margin-left: 4rem;
}

.call-container
{
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    color:#fff;
    background-color: #3882F6;
    padding: 3rem;
    width: 80vw;
}

.call-container div p 
{
    margin-top: 0.4rem;
    font-weight: lighter;
}